.size-20 {
    font-size: 20px;
}

.weight-bold {
    font-weight: bold;
}

.decoration-underline {
    text-decoration: underline;
}

.style-italic {
    font-style: italic;
}

.align-center {
    text-align: center;
}
